<div class="row">
    <div class="large-10 medium-10 columns">

        <h5>Results</h5>

        {{#each answers}}
            <div class="answer">
                <p class="an-answer">[Match: {{this.rank}} points] :<a href="/question/show/{{this.ques_id}}#answer{{this.ans_id}}"> {{this.ques_text}}</a>, Answer #{{this.ans_id}}</p>
            </div>
        {{else}}
            <br>
            <p>No matching entries found :(</p>
            <a href="/search">Search again</a>
        {{/each}}
    </div>
</div>
